body {
  font-family: $sans;
  font-size: 16px;
  color:$black;
}

h1, h2, h3, h4 {
  font-family: $serif;
  color: $black;
  font-weight: bold;
}

h3 {
  font-size: 21px;
}

nav {
  h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .dimensionFilter {
    margin-top: 5px;
  }
}


// .btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
//     margin-left: 5px;
// }
// .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
//     float: left;
// }

.btn {
  float: left;

  color: #333;
  background-color: #fff;
  border-color: #ccc;

  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-selected {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
